* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(208deg 55% 6%);
}

canvas {
    background-color: #071018;
}

.container {
    display: flex;
    flex-direction: column;
}

.score-container {
    display: inherit;
    justify-content: space-between;
    margin-bottom: 16px;
    letter-spacing: 0.05rem;
}

.inner-div {
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(213, 255, 249);
}